*.swp
*.o
# A leading slash matches the beginning of the pathname. For example, "/*.c" matches "cat-file.c" but not "mozilla-sha1/sha1.c"
# ignore only binary eserv which located in the same directory as .gitignore not library eserv!
/eserv
*.a
